<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedestrian Crash Distribution</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
      background-color: #E1D9D1; /* Set the background color for the page */
    }

    /* Reduce the size of the chart container */
    #pedestrianCrashChart {    
    
    max-width: 600px;
      margin: 0 auto; /* Center the chart horizontally */
      display: block;
      box-sizing: border-box;
      height: 600px;
      width: 600px; 
    }
    </style>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="http://127.0.0.1:5000/">Pedestrian Crashes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a></li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="visualizationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visualization</a>
                            <ul class="dropdown-menu" aria-labelledby="visualizationDropdown">
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/pie">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/bar">Bar Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/lines">lines Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/dashboard">Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/map">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container mt-4"> <!-- Add margin-top to separate the chart from the navigation -->
    <h1>Pedestrian Crash Distribution</h1>
    
    <!-- Dropdown to select crash_type -->
    <label for="crashTypeSelect">Select Crash Type:</label>
    
    <select id="crashTypeSelect"></select>
    <p>The core element of the code is a dynamic bar chart built to visualize the distribution of severity levels within pedestrian crash data. This chart leverages the Chart.js library, known for its flexibility and ease of use in creating interactive and informative data representations. The bar chart's primary function is to dynamically display the severity distribution as users interact with a dropdown menu to select different crash types. Each time a new crash type is chosen, the chart updates in real-time, offering an insightful and visually appealing way to explore the impact of various crash scenarios on severity levels.</p>
    
    <canvas id="pedestrianCrashChart" width="200" height="100"></canvas>
    <p> The bar chart implemented within the code represents a powerful tool for visualizing and analyzing pedestrian crash data. Its ability to dynamically respond to user selections from the crash type dropdown menu enhances the code's usability and value. With Chart.js as its foundation, the chart combines aesthetic appeal with functionality, making it an excellent choice for anyone seeking to convey complex data trends related to crash severity. This dynamic visualization not only aids in better understanding the data but also adds an interactive dimension to the analysis, ensuring its relevance and usefulness in the context of pedestrian safety research and decision-making.</p>
    
    
    <script src="/static/bar.js"></script>
</body>
</html>
