<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Types of Crashes</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    body {
      background-color:  #E1D9D1; /* Set the background color for the page */
    }

    /* Reduce the size of the chart container */
    #myPieChart {
      max-width: 500px;
      margin: 0 auto; /* Center the chart horizontally */
      display: block;
      box-sizing: border-box;
      height: 500px;
      width: 500px;
}
    
  </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="http://127.0.0.1:5000/">Pedestrian Crashes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a></li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="visualizationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visualization</a>
                            <ul class="dropdown-menu" aria-labelledby="visualizationDropdown">
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/pie">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/bar">Bar Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/lines">lines Chart</a></li>
                                <li><a class="dropdown-item" href="http://127.0.0.1:5000/dashboard">Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/map">Map</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container mt-4"> <!-- Add margin-top to separate the chart from the navigation -->
            <h1>Types of Crashes</h1>
            <p>The Pie charts are a popular tool for representing data in a visually appealing and easily understandable way. In this analysis, we will delve into a pie chart that illustrates various types of road accidents, providing a snapshot of their frequency and distribution. By examining this chart, we can identify the most common accident scenarios and enhance our understanding of road safety.
            <div>
                <canvas id="myPieChart"></canvas>
            </div>
            <p>
                In conclusion, the pie chart analysis of road accidents has revealed a significant and concerning trend. "Struck pedestrian (On Road)" accidents dominate the chart, highlighting a pressing issue that requires immediate attention. The high frequency of these accidents underscores the importance of prioritizing pedestrian safety measures. It is evident that pedestrians are at a heightened risk while on the road, and addressing this issue should be a top priority for local authorities, traffic engineers, law enforcement, and the community.

            <p>To mitigate the risks associated with "Struck pedestrian (On Road)" accidents, a multifaceted approach is necessary. This includes improving pedestrian infrastructure, enhancing traffic enforcement, launching public awareness campaigns, and continuously monitoring and analyzing accident data. By taking these proactive measures, we can work toward making our roads safer and reducing the incidence of accidents involving pedestrians on the road. Road safety is a shared responsibility, and it is imperative that we come together to protect the lives of pedestrians and all road users.</p>
            </p>
        </div>
    </div>
    <script src="/static/pie.js"></script>
</body>
</html>
